<div class="container">
  <div class="row">
    <mat-toolbar style="z-index: 10;" class="mat-elevation-z4">
        &nbsp;&nbsp;My App&nbsp;&nbsp;
      <div class="col-md-4">        
          <button mat-button routerLink="/master">Master</button>
          <button mat-button routerLink="/detail">Detail</button>
        </div>
        <div class="col-md-4">            
      </div>
      <div class="col-md-offset-4">
          <button *ngIf="!data.isAuthenticated" mat-button routerLink="/registration" matTooltip="Registration"><mat-icon>assignment</mat-icon></button>
          <button *ngIf="!data.isAuthenticated" mat-button routerLink="/login" matTooltip="Login"><mat-icon>account_circle</mat-icon></button>                    
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="data.isAuthenticated" >
              <div mat-card-avatar class="example-header-image"></div>              
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>work</mat-icon>Account Setting</button>
            <button mat-menu-item><mat-icon>settings</mat-icon>Configuration</button>
            <button mat-menu-item (click)="logoff()"><mat-icon>input</mat-icon>Log out</button>
          </mat-menu>        
      </div>
          
    </mat-toolbar>
  </div>
  <br/>
  <mat-card>  
    <router-outlet></router-outlet>
  </mat-card>
</div>