
<div class="row">
  <div class="col-md-4">
      <mat-card>
        <mat-card-header>                    
          <mat-card-subtitle>Sort by</mat-card-subtitle>
        </mat-card-header>
        <mat-list>
          <mat-list-item>
              <mat-radio-button color="primary" value="1">Option 1</mat-radio-button>                                                                      
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <mat-radio-button color="primary" value="2">Option 2</mat-radio-button>                  
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <mat-radio-button color="primary" value="3">Option 3</mat-radio-button>                  
          </mat-list-item>
        </mat-list>    
      </mat-card>
  </div>
  <div class="col-md-4">
    <div class="row" *ngFor="let message of data.messages">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon>thumb_up_alt</mat-icon></button>
          <button mat-button routerLink="/view/{{message.position}}" >COMMENT</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
      <br/>
    </div>
  </div>

  <div class="col-md-4">
    <mat-card>
      <mat-card-subtitle>Group by</mat-card-subtitle>
    </mat-card>
  </div>

</div>

<div class="row" *ngIf="data.isAuthenticated">
    <div class="pull-right">
      <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>
</div>
