<h1>Profile</h1>

<div class="row">
    <mat-tab-group>
    <mat-tab label="User Information">          
            <mat-list style="overflow:hidden;" >
                <mat-list-item>
                <div class="col-md-5">   
                    <div class="col-md-6">
                        <div mat-card-avatar class="example-header-image"></div>                                  
                    </div>             
                    <div class="col-md-6" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" >
                        <mat-icon (click)="toggle()" style="font-size:15px;margin-top:11px;" [style.color]="backgroundColor" >edit</mat-icon>&nbsp;
                        <mat-icon style="font-size:15px;margin-top:11px;" [style.color]="backgroundColor">photo_library</mat-icon>
                    </div>
                </div>
                <div class="col-md-2">
                    <hr class="vr"/>
                </div>
                <div class="col-md-5">
                    <mat-card-header>
                        <mat-card-title *ngIf="!btnToggle">{{data.users.username}}</mat-card-title>
                        <mat-card-subtitle *ngIf="!btnToggle" >{{data.users.firstname}} {{data.users.lastname}}</mat-card-subtitle>
                        <mat-form-field *ngIf="btnToggle">
                                <input matInput placeholder="First Name" [(ngModel)]="data.users.firstname" name="firstname">
                        </mat-form-field>
                        <mat-form-field *ngIf="btnToggle">
                                <input matInput placeholder="Last Name" [(ngModel)]="data.users.lastname" name="lastname">
                        </mat-form-field>
                    </mat-card-header>
                </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="col-md-5">
                            <br/>
                            <mat-card-header>
                                    <mat-card-title>Address</mat-card-title>
                                    <mat-card-subtitle>{{data.users.address}}</mat-card-subtitle>
                            </mat-card-header>
                    </div>
                    <div class="col-md-2">
                        <hr class="vr"/>
                    </div>
                    <div class="col-md-5">
                            <br/>
                            <mat-card-header>
                                    <mat-card-title>Address 2</mat-card-title>
                                    <mat-card-subtitle>{{data.users.address2}}</mat-card-subtitle>
                            </mat-card-header>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                        <div class="col-md-5">
                                <br/>
                                <mat-card-header>
                                        <mat-card-title>City</mat-card-title>
                                        <mat-card-subtitle>{{data.users.city}}</mat-card-subtitle>
                                </mat-card-header>
                        </div>
                        <div class="col-md-2">
                            <hr class="vr"/>
                        </div>
                        <div class="col-md-5">
                                <br/>
                                <mat-card-header>
                                        <mat-card-title>State</mat-card-title>
                                        <mat-card-subtitle>{{data.users.state}}</mat-card-subtitle>
                                </mat-card-header>
                        </div>
                </mat-list-item>
            </mat-list>     
    </mat-tab>
    <mat-tab label="Contact Information"> Content 2 </mat-tab>
    <mat-tab label="Security Information"> Content 3 </mat-tab>
    <mat-tab label="Privacy"> Content 4 </mat-tab>
    </mat-tab-group>
</div>

<br/>
<br/>
<br/>

<div class="row">    
        <button class="col-md-12" mat-button style="font-weight:bold;background-color:lightgray" (click)="Post()" >Update Information</button>&nbsp;
</div>